.carousel{
  margin-top: 1rem;
}
.carousel-inner{
  border-radius: 6px;
}
.carousel-item{
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.bg-img1{
  background-image: url('../../img/backgroudForest.jpg');
}
.bg-img2{
  background-image: url('../../img/backgroundMontain.jpg');
}
.bg-img3{
  background-image: url('../../img/backgroundCoffee.jpg');
}

.mask{
  padding: 3rem;
  height: 100%;
  background-color: #fff8;
  display: flex;
  align-items: center;
}